<!DOCTYPE html>
<%= content_tag :html, class: 'no-js', **(try(:html_tag_attributes) || {}) do %>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="google-site-verification" content="<%= Settings.GOOGLE_SITE_VERIFICATION %>" />

    <title><%= h(@page_title || application_name) %></title>
    <% if current_exhibit %>
      <link href="<%= spotlight.opensearch_exhibit_catalog_url(current_exhibit, format: 'xml') %>" title="<%= application_name %>" type="application/opensearchdescription+xml" rel="search"/>
    <% end %>
    <%= favicon_link_tag 'favicon.ico' %>
    <% if current_exhibit %>
      <%= exhibit_stylesheet_link_tag "application" %>
    <% else %>
      <%= stylesheet_link_tag "application" %>
    <% end %>
    <%= stylesheet_link_tag "https://www-media.stanford.edu/su-identity/css/su-identity.css" %>
    <%= javascript_include_tag "application", async: Settings.async_javascript %>
    <script type="text/javascript">
     Honeybadger.configure({
       apiKey: '<%= Honeybadger.config.get(:api_key) %>',
       environment: '<%= Honeybadger.config.get(:env) %>',
       debug: false,
       onerror: true,
       revision: '<%= Settings.revision %>'
     });
    </script>
    <%= render partial: 'shared/analytics' %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
    <%= description %>
    <%= twitter_card %>
    <%= opengraph %>
    <%= javascript_tag "Spotlight.sirTrevorIcon = '#{asset_path('spotlight/blocks/sir-trevor-icons.svg')}'" %>
  </head>
  <body class="<%= render_body_class %>">
    <div id="su-wrap"> <!-- #su-wrap start -->
      <div id="su-content"> <!-- #su-content start -->
        <nav id="skip-link" role="navigation" aria-label="<%= t('blacklight.skip_links.label') %>">
          <%= link_to t('blacklight.skip_links.search_field'), '#search_field', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
          <%= link_to t('blacklight.skip_links.main_content'), '#main-container', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
          <%= content_for(:skip_links) %>
        </nav>

        <%= render partial: 'shared/header_navbar' %>
        <%= render partial: 'shared/masthead' %>
        <%= content_for?(:header_content) ? yield(:header_content) : "" %>

        <main id="main-container" class="<%= container_classes %>" role="main" aria-label="<%= t('blacklight.main.aria.main_container') %>">
          <%= content_for(:container_header) %>

          <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

          <div class="row">
            <%= content_for?(:content) ? yield(:content) : yield %>
          </div>
        </main>
      </div> <!-- #su-content end -->
    </div> <!-- #su-wrap end -->

    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/modal' %>
  </body>
<% end %>
