<!DOCTYPE html>
<%= content_tag :html, class: 'no-js', **(try(:html_tag_attributes) || {}) do %>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="google-site-verification" content="<%= Settings.GOOGLE_SITE_VERIFICATION %>">
    <meta name="turbo-prefetch" content="false">

    <title><%= strip_tags(@page_title || application_name) %></title>
    <% if current_exhibit %>
      <link href="<%= spotlight.opensearch_exhibit_catalog_url(current_exhibit, format: 'xml') %>" title="<%= application_name %>" type="application/opensearchdescription+xml" rel="search">
    <% end %>

    <link rel="icon" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-01-24/styles/icon.png" type="image/png">
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-01-24/styles/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-01-24/styles/icon.png">

    <script src="https://cdn.jsdelivr.net/npm/@github/auto-complete-element@3.8.0/+esm" type="module"></script>
    <% if current_exhibit %>
      <%= exhibit_stylesheet_link_tag "application" %>
    <% else %>
      <%= stylesheet_link_tag "application" %>
    <% end %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-09-11/styles/sul.css">
    <%= stylesheet_link_tag "component_library_overrides" %>
    <script
			  src="https://code.jquery.com/jquery-3.7.1.min.js"
			  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.min.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="//js.honeybadger.io/v6.10/honeybadger.min.js" type="text/javascript"></script>
    <script type="text/javascript">
     Honeybadger.configure({
       apiKey: '<%= Honeybadger.config.get(:api_key) %>',
       environment: '<%= Honeybadger.config.get(:env) %>',
       debug: false,
       onerror: true,
       revision: '<%= Settings.revision %>'
     });
    </script>
    <%= render partial: 'shared/analytics' %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
    <% if @document %>
      <% add_document_meta_content(@document) %>
    <% elsif current_exhibit %>
      <% description(current_exhibit.description) if current_exhibit %>
      <% add_exhibit_meta_content %>
    <% end %>
    <%= yield(:meta) %>
    <%= javascript_tag "window.sirTrevorIcon = '#{asset_path('spotlight/blocks/sir-trevor-icons.svg')}'" %>
  </head>
  <body class="<%= render_body_class %>">
    <%= render blacklight_config.skip_link_component.new(render_search_link: should_render_spotlight_search_bar?) do %>
      <%= content_for(:skip_links) %>
    <% end %>

    <%= render partial: 'shared/header_navbar' %>
    <%= content_for?(:header_content) ? yield(:header_content) : "" %>

    <main id="main-container" class="<%= container_classes %> mb-5" aria-label="<%= t('blacklight.main.aria.main_container') %>">
      <%= content_for(:container_header) %>

      <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

      <div class="row">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </main>
    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/modal' %>
  </body>
<% end %>
