<div data-controller="details-container">
  <% if @field.label %>
    <%= tag.dt **@label_html_attributes do %>
      <%= label %>
      <%= toggle_button %>
    <% end %>
  <% end %>

  <%= tag.dd **@value_html_attributes do %>
    <% field_values.each do |value| %>
      <%= render_value(value) %>
    <% end %>
  <% end %>
</div>
