<%= form_tag @url, method: :get, class: 'search-across-form search-query-form row gx-0', role: 'search', 'aria-label' => t('blacklight.search.form.submit') do %>
    <%= render Blacklight::HiddenSearchStateComponent.new(params: helpers.search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
    <% if search_fields.length > 1 %>
      <label for="search_field" class="visually-hidden"><%= t('blacklight.search.form.search_field.label') %></label>
    <% end %>

  <div class="input-group">
    <select id="search_field" class="d-block custom-select form-select search-field col" name="search_field" data-controller="site-search" data-action="change->site-search#updateTypeAhead">
      <option <% if helpers.in_search_across? %>selected<% end %> data-bs-target="#exhibit-search" value="#exhibit-search" data-button-text="<%= t('site_search_form.find_exhibits_by_title') %>">
         Find <%= t('site_search_form.exhibits_by_title') %>
      </option>
      <option <% unless helpers.in_search_across? %>selected<% end %> data-bs-target="#item-search" value="#item-search" data-button-text="<%= t('site_search_form.find_all_items') %>">
          Find <%= t('site_search_form.all_items') %>
      </option>
    </select>

    <span id="exhibit-search" class="p-0 exhibit-search-typeahead site-search-type search-q q form-control" data-behavior="site-search-type" <% unless helpers.in_search_across? %>style="display: none;"<% end %>>
      <auto-complete src="<%= exhibit_autocomplete_index_path %>" for="exhibit-search-popup">
        <input type="text" class="border-0 form-control" role="combobox" aria-labelledby="site-search-type" name="exhibit-search" data-behavior="exhibit-search-typeahead" />
        <ul id="exhibit-search-popup" class="tt-dropdown-menu"></ul>
        <div id="exhibit-search-popup-feedback" class="sr-only visually-hidden"></div>
      </auto-complete>
    </span>

    <span id="item-search" class="p-0 site-search-type search-q q form-control" data-behavior="site-search-type" <% if helpers.in_search_across? %>style="display: none;"<% end %>>
      <%= hidden_field_tag :search_field, search_fields.first.last %>
      <noscript>
        <label for="q" class="visually-hidden"><%= t('blacklight.search.form.search.label') %></label>
      </noscript>
      <%= text_field_tag :q, params[:q], class: "border-0 form-control", id: "q", 'aria-labelledby': "site-search-type", autofocus: autofocus, data: { autocomplete_enabled: autocomplete_path.present?, autocomplete_path: autocomplete_path }  %>
    </span>

    <button class="btn btn-primary search-btn" type="submit" id="search">
      <span class="submit-search-text">Search</span>
    </button>
  </div>
<% end %>
