<<<<<<< HEAD
<nav id="skip" class="visually-hidden-focusable" aria-label="<%= t('blacklight.skip_links.label') %>">
    <%= link_to_main %>
    <%= link_to_search %>
    <%= content %>
</nav>
=======
<nav id="skip" aria-label="<%= t('blacklight.skip_links.label') %>">
    <%= link_to_main %>
    <%= link_to_search %>
    <%= content %>
</nav>
>>>>>>> 8ffccd0e (reverting)
