<%= render 'spotlight/shared/exhibit_sidebar' %>
<div id="content" class="col-md-9">
  <%= configuration_page_title %>
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#item-detail-page" aria-controls="site-theme" role="tab" data-toggle="tab"><%= t(:'.item_detail.title') %></a>
      </li>
      <li role="presentation">
        <a href="#iiif-manifest" aria-controls="site-theme" role="tab" data-toggle="tab"><%= t(:'.iiif_manifest.title') %></a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="item-detail-page">
        <%= bootstrap_form_for @viewer, url: exhibit_viewers_path(@exhibit, @viewer, locale: nil), layout: :horizontal, label_col: 'col-md-3', control_col: 'col-md-9' do |f| %>
          <p class="instructions"><%= t :'.item_detail.instructions' %></p>

          <div class="form-group" aria-labelledby='viewer-type-section-label'>
            <span id="viewer-type-section-label" class="control-label col-md-3 text-as-label">
              <%= t('.item_detail.viewer_section_label') %>
            </span>

            <div class="col-md-9">
              <%= f.radio_button :viewer_type, 'sul-embed', label: 'SUL-Embed', checked: true %>
              <%= f.radio_button :viewer_type, 'mirador', label: 'Mirador' %>
            </div>
          </div>

          <div class="form-actions">
            <div class="primary-actions">
              <%= f.primary t('.save') %>
            </div>
          </div>
        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="iiif-manifest">
        <%= bootstrap_form_for @viewer, url: exhibit_viewers_path(@exhibit, @viewer, locale: nil), layout: :horizontal, label_col: 'col-md-3', control_col: 'col-md-9' do |f| %>
          <p class="instructions"><%= t :'.iiif_manifest.instructions_html' %></p>

          <div class="form-group" aria-labelledby='iiif-manifest-pattern-section-label'>
            <div class="col-md-12">
              <%= f.url_field(
                :custom_manifest_pattern,
                placeholder: t('.iiif_manifest.example_url'),
                label: t('.iiif_manifest.alternate_pattern_label'),
                help: t('.iiif_manifest.help_html', example_url: t('.iiif_manifest.example_url'))
              )
              %>
            </div>
          </div>

          <div class="form-actions">
            <div class="primary-actions">
              <%= f.primary t('.save') %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
