<% if show_contact_form? && (current_exhibit.nil? || !current_page?(spotlight.new_exhibit_contact_form_path(current_exhibit))) %>
  <div id="report-problem-form" class="collapse">
    <%= render 'spotlight/shared/report_a_problem' %>
  </div>
<% end %>

<div class="masthead bg-light fog-light mb-0 pb-2">
  <div class="container d-flex flex-wrap flex-md-row flex-column justify-content-between align-items-md-center align-items-start">
    <div class="">
      <h1 class="site-title h2">
        <% if content_for? :masthead %>
            <%= content_for :masthead %>
        <% else %>
            <%= masthead_heading_content %>
        <% end %>
      </h1>

      <% if masthead_subheading_content %>
        <small class="py-2 fs-4"><%= masthead_subheading_content %></small>
      <% end %>
    </div>

    <div class="align-self-md-end align-self-start">
      <div class="navbar collapse navbar-collapse d-md-flex me-md-2"
        aria-label="browse" id="user-util-collapse">
          <div>
            <% if current_exhibit %>
              <%= render ExhibitNavigationComponent.new %>
            <% else %>
              <%= render MastheadNavigationComponent.new %>
            <% end %>
            <div class="d-md-none">
              <hr>
              <%= render 'shared/user_util_links' %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="<%= 'image-wrapper 'if current_masthead %>position-relative d-flex flex-column mb-3"
  <% if current_masthead %>
    style="background-image: url('<%= current_masthead.iiif_url %>')"
  <% end %>
>
  <% if current_exhibit %>
      <%= render ExhibitNavbarComponent.new %>
    <% else %>
      <%= render SiteNavbarComponent.new %>
    <% end %>

</div>

<%= render Spotlight::BreadcrumbsComponent.new(breadcrumbs:) %>
