<div class="sidebar home-page-column">
  <h2 class="nav-heading">See also</h2>
  <ul class="nav sidenav">
    <li>
      <%= link_to "Digital collections in SearchWorks",
      "http://searchworks.stanford.edu/catalog?f%5Bcollection_type%5D%5B%5D=Digital+Collection" %>
    </li>
    <li>
      <%= link_to "Older collection exhibits",
      "http://library.stanford.edu/collections" %>
    </li>
    <li>
      <%= link_to "Special Collections & University Archives",
      "http://library.stanford.edu/spc" %>
    </li>
    <li>
      <%= link_to "Giving to SUL",
      "http://library.stanford.edu/#middle-tab-24" %>
    </li>
  </ul>

  <% if can?(:create, Spotlight::Exhibit) %>
      <%= link_to spotlight.new_exhibit_path, class: "btn btn-default", role: "button" do %>
          Request a new exhibit
          <small class="sunet-notice">Requires SUNet login</small>
      <% end %>
  <% end %>

  <% if can?(:manage, Spotlight::Site.instance) || can?(:create, Spotlight::Exhibit) %>
    <h3 class="nav-heading"><%=t(:'.header') %></h3>
    <ul class="nav sidenav">
      <li><%= link_to t('.documentation'), 'https://github.com/sul-dlss/spotlight/wiki/Configuration-settings' %></li>

      <% if can? :manage, Spotlight::Site.instance %>
        <li><%= link_to t(:'spotlight.sites.edit.page_title'), spotlight.edit_site_path %></li>
      <% end %>

      <% if can? :manage, Spotlight::Exhibit %>
        <li><%= link_to t(:'spotlight.sites.edit_exhibits.page_title'), spotlight.edit_site_exhibits_path %></li>
        <li><%= link_to t(:'spotlight.admin_users.index.page_title'), spotlight.admin_users_path %></li>
      <% end %>
    </ul>
  <% end %>

</div>
