<% handler = job.payload_object %>
<div class="row">
  <div class="col-sm-12">
    <h2><%= handler.job_data["job_class"] %> (<%= job.id %>)</h2>
  </div>

  <div class="col-md-6">
    <dl>
      <dt>created_at</dt><dd><%= l job.created_at %></dd>
      <dt>attempts</dt><dd><%= job.attempts %></dd>
      <dt>run_at</dt><dd><%= l job.run_at %></dd>
    </dl>
    <%= link_to 'run', delayed_job_path(job), method: :patch, class: 'btn btn-small btn-primary' %>
    <%= link_to 'destroy', delayed_job_path(job), method: :delete, class: 'btn btn-small btn-danger' %>
  </div>

  <div class="col-md-6">
    <pre class="code"><%= job.handler %></pre>
    <% if job.last_error %>
    <pre class="code last-error"><%= job.last_error %></pre>
    <% end %>
  </div>
</div>
