<% harvester = DorHarvester.instance(current_exhibit) %>
<div class="tab-content">
  <div class="panel-group" id="sdr-accordion" role="tablist" aria-multiselectable="true">
    <%= render partial: 'dor_harvester/status', locals: { harvester: harvester } %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="sdr-item-submission">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#sdr-accordion" href="#sdr-item-submission-section" aria-expanded="true" aria-controls="sdr-item-submission-section" class="">
            <%= t('admin.items.item-submission') %>
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          </a>
        </h4>
      </div>
      <div id="sdr-item-submission-section" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sdr-item-submission" aria-expanded="true">
        <div class="panel-body">
          <div id="external_resource_tab_0" role="tabpanel" class="tab-pane active">
            <p><%= t('admin.items.item-submission-help_html') %></p>

            <%= bootstrap_form_for(harvester, url: exhibit_dor_harvester_path(exhibit_id: current_exhibit), layout: :horizontal, label_col: 'col-md-0', control_col: 'col-xs-6 col-sm-4') do |f| %>
              <%= f.text_area :druid_list, hide_label: true, rows: 10, wrapper: { class: 'sdr-form' }  %>

              <div class="form-actions">
                <div class="primary-actions">
                  <%= cancel_link "", :back, class: 'btn btn-default' %>
                  <%= f.submit t('.add_item'), class: 'btn btn-primary' %>
                </div>
              </div>

              <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
