<p><%= t('admin.items.many-object-druids-help_html', count: harvester.solr_document_sidecars.count) %></p>

<%= bootstrap_form_for('object', layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-6') do |f| %>
  <div class="form-group row">
    <%= f.label :druid, for: 'object_druid', class: 'col-form-label col-md-2'%>
    <div class="col-md-6">
      <auto-complete src="<%= autocomplete_exhibit_dor_harvester_index_statuses_path(current_exhibit) %>" for="exhibit-status-popup" data-typeahead-remote-url="<%= exhibit_dor_harvester_index_statuses_path(current_exhibit) %>">
        <%= f.text_field :druid, wrapper: false, class: 'form-control tt-input', role: 'combobox', 'aria-labelledby': 'site-search-type', name: 'exhibit-status', data: { behavior: 'index-status-typeahead' } %>
        <ul id="exhibit-status-popup" class="tt-dropdown-menu"></ul>
        <div id="exhibit-status-popup-feedback" class="sr-only visually-hidden"></div>
      </auto-complete>
    </div>
  </div>
<% end %>

<table style="display: none;" class="table table-striped" data-behavior="index-status-typeahead-table">
  <thead>
    <tr>
      <th>Druid</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
