<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="sdr-item-status">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#sdr-accordion" href="#sdr-item-status-section" aria-expanded="false" aria-controls="sdr-item-status-section">
        <%= t('admin.items.item-status') %>
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        <span class="glyphicon glyphicon-chevron-down pull-right"></span>
      </a>
    </h4>
  </div>
  <div id="sdr-item-status-section" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sdr-item-status" aria-expanded="false">
    <div class="panel-body">
      <% if harvester.druid_info.any? %>
        <div class="panel-group" id="status-accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#status-accordion" href="#sdr-status-inner-items" aria-expanded="false">
                  <%= t('admin.items.object-druids') %>
                  <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                </a>
              </h4>
            </div>
            <div id="sdr-status-inner-items" class="panel-collapse collapse">
              <div class="panel-body">
                <p><%= t('admin.items.object-druids-help_html') %></p>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Druid</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% harvester.druid_info.each do |druid, status| %>
                      <tr class="<%= 'danger' unless status['ok'] %>">
                        <td><%= druid %></td>
                        <td>
                          <% if status['ok'] %>
                            Published
                          <% else %>
                            <%= status['message'] %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <% end %>
        <% if harvester.collections.any? %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#status-accordion" href="#sdr-status-inner-collections" aria-expanded="false">
                  <%= t('admin.items.collection-druids') %>
                  <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                </a>
              </h4>
            </div>
            <div id="sdr-status-inner-collections" class="panel-collapse collapse">
              <div class="panel-body">
                <p><%= t('admin.items.collection-druids-help_html') %></p>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Druid</th>
                      <th>Items</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% harvester.collections.each do |druid, status| %>
                      <tr>
                        <td><%= druid %></td>
                        <td><%= status['size'] %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>