<div class="card">
  <div class="card-header position-relative" role="tab" id="sdr-item-status">
    <h4 class="mb-0">
      <button class="btn btn-link collapsed stretched-link" data-bs-toggle="collapse" data-parent="#sdr-accordion" href="#sdr-item-status-section" aria-expanded="false" aria-controls="sdr-item-status-section">
        <%= t('admin.items.item-status') %>
      </button>
      <div class="float-end icon-expand-rotate">
        <%= blacklight_icon('chevron_right') %>
      </div>
    </h4>
  </div>
  <div id="sdr-item-status-section" class="collapse" role="tabpanel" aria-labelledby="sdr-item-status" aria-expanded="false" data-parent="#sdr-accordion">
    <div class="card-body">
      <div id="status-accordion" class="accordion">
      <% if harvester.solr_document_sidecars.any? %>
          <div class="card">
            <div class="card-header position-relative">
              <h4 class="mb-0">
                <button class="btn btn-link collapsed stretched-link" data-bs-toggle="collapse" data-parent="#status-accordion" href="#sdr-status-inner-items" aria-expanded="false">
                  <%= t('admin.items.object-druids') %>
                </button>
                <div class="float-end icon-expand-rotate">
                  <%= blacklight_icon('chevron_right') %>
                </div>
              </h4>
            </div>
            <div id="sdr-status-inner-items" class="collapse">
              <div class="card-body">
                <% if harvester.solr_document_sidecars.count > Settings.index_status_threshold %>
                  <%= render 'dor_harvester/many_index_statuses', { harvester: harvester } %>
                <% else %>
                  <%= render 'dor_harvester/index_statuses', { harvester: harvester } %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% if harvester.collections.any? %>
          <div class="card">
            <div class="card-header position-relative">
              <h4 class="mb-0">
                <button class="btn btn-link collapsed stretched-link" data-bs-toggle="collapse" data-parent="#status-accordion" href="#sdr-status-inner-collections" aria-expanded="false">
                  <%= t('admin.items.collection-druids') %>
                </button>
                <div class="float-end icon-expand-rotate">
                  <%= blacklight_icon('chevron_right') %>
                </div>
              </h4>
            </div>
            <div id="sdr-status-inner-collections" class="collapse">
              <div class="card-body">
                <p><%= t('admin.items.collection-druids-help_html') %></p>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Druid</th>
                      <th>Items</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% harvester.collections.each do |druid, status| %>
                      <tr>
                        <td><%= druid %></td>
                        <td><%= status['size'] %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
