<%
  document ||= @document
  contributors = render(partial: "mods_contributors", locals: {document: document})
  description = render(partial: "mods_description", locals: {document: document})
  abstract_contents = render(partial: "mods_abstract_contents", locals: {document: document})
  subjects = render(partial: "mods_subjects", locals: {document: document})
  bibliography = render(partial: "mods_bibliographic", locals: {document: document})
  contact = render(partial: "mods_contact", locals: {document: document})
  access = render(partial: "mods_access_conditions", locals: {document: document})
%>

<% if description.present? %>
  <div class="section">
    <div class="section-heading">
      <h4><%= t('metadata.description') %></h4>
    </div>
    <div class="section-body">
      <%= description %>
    </div>
  </div>
<% end %>

<% if contributors.present? %>
  <div class="section">
    <div class="section-heading">
      <h4><%= t('metadata.contributors') %></h4>
    </div>
    <div class="section-body">
      <dl>
        <%= contributors %>
      </dl>
    </div>
  </div>
<% end %>

<% if abstract_contents.present? %>
  <div class="section">
    <div class="section-heading">
      <h4><%= t('metadata.abstract') %></h4>
    </div>
    <div class="section-body">
      <dl>
        <%= abstract_contents %>
      </dl>
    </div>
  </div>
<% end %>

<% if subjects.present? %>
  <div class="section">
    <div class="section-heading">
      <h4><%= t('metadata.subjects') %></h4>
    </div>
    <div class="section-body">
      <dl>
        <%= subjects %>
      </dl>
    </div>
  </div>
<% end %>

<% if bibliography.present? %>
  <div class="section">
    <div class="section-heading">
      <h4><%= t('metadata.bibliographic') %></h4>
    </div>
    <div class="section-body">
      <dl>
        <%= bibliography %>
      </dl>
    </div>
  </div>
<% end %>

<% if contact.present? %>
  <div class="section">
    <div class="section-heading">
      <h4><%= t('metadata.contact') %></h4>
    </div>
    <div class="section-body">
      <dl>
        <%= contact %>
      </dl>
    </div>
  </div>
<% end %>

<% if access.present? %>
  <div class="section">
    <div class="section-heading">
      <h4><%= t('metadata.access') %></h4>
    </div>
    <div class="section-body">
      <dl>
        <%= access %>
      </dl>
    </div>
  </div>
<% end %>
